In [4]:
import seaborn as sns
planets = sns.load_dataset("planets")

In [5]:
df = planets.copy()
df.head()

            method  number  orbital_period   mass  distance  year
0  Radial Velocity       1         269.300   7.10     77.40  2006
1  Radial Velocity       1         874.774   2.21     56.95  2008
2  Radial Velocity       1         763.000   2.60     19.84  2011
3  Radial Velocity       1         326.030  19.40    110.62  2007
4  Radial Velocity       1         516.220  10.50    119.47  2009

In [6]:
#sadece kategorik değişkenleri çekmek ve özetlemek
kat_df = df.select_dtypes(include = ["object"])

In [7]:
kat_df.head()

            method
0  Radial Velocity
1  Radial Velocity
2  Radial Velocity
3  Radial Velocity
4  Radial Velocity

In [8]:
#kategorik değişkenlerin sınıflarına erişmek
kat_df.method.unique()

array(['Radial Velocity', 'Imaging', 'Eclipse Timing Variations',
       'Transit', 'Astrometry', 'Transit Timing Variations',
       'Orbital Brightness Modulation', 'Microlensing', 'Pulsar Timing',
       'Pulsation Timing Variations'], dtype=object)

In [9]:
kat_df.method.value_counts().count()#sınıf sayısı

10

In [11]:
kat_df.method.value_counts()#hangi sınıftan kaç tane var

Radial Velocity                  553
Transit                          397
Imaging                           38
Microlensing                      23
Eclipse Timing Variations          9
Pulsar Timing                      5
Transit Timing Variations          4
Orbital Brightness Modulation      3
Astrometry                         2
Pulsation Timing Variations        1
Name: method, dtype: int64

In [ ]:
df["method"].value_counts().plot.barh();