In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({"gruplar":["A","B","C","A","B","C"],
                  "değer1":[10,20,34,45,54,54],
                   "değer2":[102,203,344,455,546,546]})
df

  gruplar  değer1  değer2
0       A      10     102
1       B      20     203
2       C      34     344
3       A      45     455
4       B      54     546
5       C      54     546

In [35]:
def fonk(x):
    return x["değer1"].std()<24

In [36]:
df.groupby("gruplar").std()

            değer1      değer2
gruplar
A        24.748737  249.608694
B        24.041631  242.537626
C        14.142136  142.835570

In [37]:
df.groupby("gruplar").filter(fonk)

  gruplar  değer1  değer2
2       C      34     344
5       C      54     546

In [38]:
df.groupby("gruplar").filter(fonk).groupby("gruplar").std()

            değer1     değer2
gruplar
C        14.142136  142.83557