In [1]:
import numpy as np
import pandas as pd

In [3]:
m = np.random.randint(1,30,size = (10,3))
df = pd.DataFrame(m,columns = ["d1","d2","d3"])
df

   d1  d2  d3
0  27  11  16
1   1  16  11
2  19  11   8
3  17  13  18
4  17  28   8
5  12  27   8
6  15  17   7
7  11  17  15
8  27  19  18
9  10  22   2

In [13]:
df["d1"][3]

17

In [14]:
df.loc[3,["d1","d3"]]

d1    17
d3    18
Name: 3, dtype: int32

In [15]:
df.d1#d1 i getirir

0    27
1     1
2    19
3    17
4    17
5    12
6    15
7    11
8    27
9    10
Name: d1, dtype: int32

In [25]:
df[(df.d1>15) & (df.d2>10) & (df.d3>15)]

   d1  d2  d3
0  27  11  16
3  17  13  18
8  27  19  18

In [36]:
df.loc[(df.d1<15) & (df.index == 5),["d1","d3"]]

   d1  d3
5  12   8