In [8]:
?np.random.randint#nasıl kullanıldığı içindeki fonksiyonları gösterir

In [2]:
import numpy as np
import pandas as pd

In [3]:
m = np.arange(1,7).reshape(3,2)
df = pd.DataFrame(m,columns = ["v1","v2"],index = ["adahan","dene","hey"])

In [4]:
df

        v1  v2
adahan   1   2
dene     3   4
hey      5   6

In [6]:
df.loc["adahan":"dene"]#2 i de alır.belirlediğimiz indexler ile işlem yapar

        v1  v2
adahan   1   2
dene     3   4

In [29]:
df.iloc[0:2]#2 i almaz.sayılar ile işlemler yapar

        v1  v2
adahan   1   2
dene     3   4

In [33]:
df.iloc[:2,:1]

        v1
adahan   1
dene     3

In [43]:
df.loc["adahan":"dene","v1"]

adahan    1
dene      3
Name: v1, dtype: int32

In [44]:
df.iloc[0:2,1]

adahan    2
dene      4
Name: v2, dtype: int32