In [19]:
import pandas as pd
import numpy as np

In [20]:
list = [1,2,3,4,5]

In [21]:
list

[1, 2, 3, 4, 5]

In [22]:
pd.DataFrame(list, columns = ["degiskenismi"])

   degiskenismi
0             1
1             2
2             3
3             4
4             5

In [44]:
m = np.arange(1,10).reshape(3,3)

In [45]:
pd.DataFrame(m,columns = ["v1","v2","v3"])

   v1  v2  v3
0   1   2   3
1   4   5   6
2   7   8   9

In [46]:
df = pd.DataFrame(m,columns = ["a1","a2","a3"])

In [47]:
df.head(2)

   a1  a2  a3
0   1   2   3
1   4   5   6

In [48]:
df.columns

Index(['a1', 'a2', 'a3'], dtype='object')

In [49]:
df.columns = ("deg1","deg2","deg3")

In [31]:
df

   deg1  deg2  deg3
0     1     2     3
1     4     5     6
2     7     8     9

In [34]:
type(df)

pandas.core.frame.DataFrame

In [35]:
df.axes

[RangeIndex(start=0, stop=3, step=1),
 Index(['deg1', 'deg2', 'deg3'], dtype='object')]

In [36]:
df.shape

(3, 3)

In [37]:
df.ndim

2

In [38]:
df.values

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [39]:
type(df.values)

numpy.ndarray

In [40]:
df.tail(1)

   deg1  deg2  deg3
2     7     8     9

In [41]:
a = np.array([[123,34],[45,54]])

In [52]:
pd.DataFrame(a,columns = ["d1","d2"],index = ["s1","s2"])

     d1  d2
s1  123  34
s2   45  54